<div class="modal fade show" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Great!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Registration completed successfully</p>
      </div>
      <div class="modal-footer">
        <button (click)="backToLogin()" type="button" class="btn btn-primary">Back to Login</button>
      </div>
    </div>
  </div>
</div>
