<div class="text-center mt-5">
  <h1 class="text-primary">Автоматизоване робоче місце провізора </h1>
  <h2 class="text-primary">Для початку роботи виконайте вхід або пройдіть реєстрацію</h2>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!userLoggedIn">
      <a class="nav-link"  routerLink="/login">Вхід</a>
    </li>
    <li class="nav-item text-center" routerLinkActive="active" *ngIf="!userLoggedIn">
      <a class="nav-link"  routerLink="/registration">Реєстрація</a>
    </li>
  </ul>
</div>
